<div class="shadow-md mb-4 p-6 ">
    <div class="container mx-auto">
        <div class="grid grid-cols-3">
            <div>
                <a class="font-medium text-black mr-4 px-2 py-2 no-underline hover:text-blue-800 hover:bg-blue-100 transition-all
            {% if request.path == '/dashboard/' %}border-0 border-b-2 border-blue-800 border-solid text-blue-800 hover:rounded hover:border-b-0
            {% else %} rounded {% endif %}" href="{% url 'app:dashboard' %}">Dashboard</a>

                <a class="font-medium text-black mr-4 px-2 py-2 no-underline hover:text-blue-800 hover:bg-blue-100 transition-all
            {% if request.path == '/portfolio/' %}border-0 border-b-2 border-blue-800 border-solid text-blue-800 hover:rounded hover:border-b-0
            {% else %} rounded {% endif %}" href="{% url 'app:portfolio' %}">Portfolio</a>
            </div>
            <div class="text-center">
                <a class="text-blue-800 font-bold font-mono mr-4 no-underline text-lg" href="/">Accretion</a>
            </div>
            <div class="mr-0 ml-auto">
                <a class="font-medium text-black mr-4 px-2 py-2 no-underline hover:text-blue-800 hover:bg-blue-100 transition-all
                {% if request.path == '/settings/' %}border-0 border-b-2 border-blue-800 border-solid text-blue-800 hover:rounded hover:border-b-0
                {% else %} rounded {% endif %}" href="{% url 'app:settings' %}">Settings</a>

                <a class="font-medium text-black mr-4 px-2 py-2 no-underline hover:text-blue-800 hover:bg-blue-100 transition-all
                rounded" href="{% url 'app:logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>