{% extends 'base.html' %}

{% block title %}Your Portfolio{% endblock %}

{% block navigation %}{% include "includes/navigation_app.html" %}{% endblock %}

{% block content %}
    <div class="container mx-auto lg:max-w-screen-md">
        <h1 class="text-2xl">Your portfolio</h1>
        <div id="loading">
            Loading...
        </div>
        <div id="content" class="hidden">
            <div id="total">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    loadPortfolioPage();
</script>
{% endblock %}