* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 750px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}